<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    
    <div class="container">
      <br><br>
      
      <h1 class="header center"><img class="responsive-img" src="../static/logo.png"></h1>
      <div class="row center">
        <div class="row">
          <form action = "http://localhost:5000/results" method = "get" id="queryForm">
            <div class="input-field col s12">
              <input id="queryLine" name = "query" type="text">
              <label for="queryLine">Search for...</label>
            </div>
          </form>
        </div>
      </div>
      <div class="row center">
        <button form="queryForm" type="submit" class="btn-large waves-effect waves-light orange">Search</a>
      </div>
      <br><br>
    
    </div>
    
  </div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>
 